<div class="text-center flex font-mono h-screen w-screen flex-row">
    <div class="flex-1 bg-gray-200">
    <h1
    class="text-2xl"
    >{{name}}</h1>
    <h3
    class="pt-5 pb-5"> Send a message to Start Chatting !</h3>
    <input 
    placeholder="Enter chatroom Name"
    class="input w-2/3 mr-5 "
    type="text" 
    >
    <button
    class="shadow-md rounded-md transition duration-500 ease-in-out bg-red-600 hover:bg-green-700 transform hover:-translate-y-0.5 hover:scale-110 "
    >send</button>
    </div>
    <div class="flex-1 bg-gray-300">

    <h1>Chat History</h1>
    </div>
    </div>